<%- include('./../_partials/header') %>

<% if (attending) { %>
    <h1>yay </h1>
    <h2><%= event.location %></h2>
<% } else { %>
    <h1><a href='potluckticality.herokuapp.com/'>Sign up!</a></h1>
<% } %>



<%- include('./../_partials/footer') %>
