<%- include('./../_partials/header') %>

    <div class="container">
        <br><br>
        <div class="blur-one">
            <div class="welcome">
                <h5>Send Your Invitations</h5>
                <hr>
            </div>
        </div>

        <div class="blur-two">
            <form action="/events/<%=event%>/mail/send" method="post" class="col s12"> 
                <div class="container">  
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <input type="text" name="to" />
                            <label>Send To</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <input type="text" name="cc" />
                            <label>CC</label>
                        </div>
                    </div>
            
                    <button class="btn" type="submit">Send Email</button>
                </div>
            </form>  
        </div>
    </div>

<%- include('./../_partials/footer')%>