body {
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 700px;
  font-family: 'Josefin Sans', sans-serif !important;
}
html { 
  background: url('./../images/favorite.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.half-container {
  margin-left: 4%;
}
.p-text-font {
  font-size: 2rem;
}
.custom-left {
  text-align:left;
}
.brand-logo {
  padding-left: 10px !important;
}

.profile-photo {
  border-radius: 50%;
}

input {
  color: white;
}

nav {
  background-color: #b0c4de !important;
  opacity: .97;
}

#welcome-message {
  align-content: center;
}

label {
  color: white !important;
}

.welcome {
  padding: 18px;
}

i.small {
  font-size: 1.3rem !important;
  float: left;
}

.blur-one {
  margin: 0 auto !important;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 3em;
  padding-bottom: 50px;
  -webkit-backdrop-filter: grayscale(1) contrast(3) blur(1px);
}

.blur-two {
  margin: 0 auto !important;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 3em;
  padding-bottom: 160px;
  -webkit-backdrop-filter: grayscale(1) contrast(3) blur(1px);
}

h5 {
  color: white;
}

.center-modal-button {
  margin-right:34%;
}

.card-image-resize {
  height: 250px;
  width:250px;
}

.delete {
  margin: -15px 28px 0px 0px !important;
}

a {
  color: purple !important;
}
.custom-color {
  background-color: rgb(156,176,208) !important;
}

.padding-events {
  margin-top:10px;
  margin-bottom:10px;
}

.shadow {
    text-shadow: 1px 1px darkslategray;
}

@keyframes animation_1 {
  0%, 55.5555555555556% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0; animation-timing-function:ease-in-out} 100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,20,0,1); opacity:1;}
}