body {
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#background {
  height: 650px;
  background-image: url('./../images/favorite.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  filter: blur(1px);
}

nav {
  background-color: #b0c4de !important;
  opacity: .5;
}

a {
  color: #00B7FF;
}