body {
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#background {
  height: 650px;
  background-image: url('./../images/favorite.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  filter: blur(1px);
}

nav {
  background-color: #b0c4de !important;
  opacity: .5;
}

a {
  color: #00B7FF;
}

.padding-events {
  margin-top:10px;
  margin-bottom:10px;

}

@keyframes animation_1 {
  0%, 55.5555555555556% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 0; animation-timing-function:ease-in-out} 100% {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,20,0,1); opacity:1;}
}