<%- include('./../_partials/header') %>

<h4>Events</h4>
<% user.events.forEach(function(event) { %>
    <p><%= event.title%></p>
<% }) %>


<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons">add</i></a>

  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Create Event 🎉</h4>
      <div class="row">
            <form action="/events" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="title" type="text" name="title" class="validate">
                        <label for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="location" type="text" name="location" class="validate">
                        <label for="location">Location</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
<<<<<<< HEAD
                        <input id="date" type="text" name="date" class="validate">
                        <label for="date">Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="time" type="text" name="time" class="validate">
=======
                        <input id="time" type="text" class="timepicker">
>>>>>>> e9d6093599cef9c4a54144cdfb5fb10a39a80ece
                        <label for="time">Time</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="description" type="text" name="description" class="validate">
                        <label for="description">Description</label>
                    </div>
                </div>
<<<<<<< HEAD
                
                <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Create</button>      
=======
                <div class="row">
                    <div class="input-field col s12">
                        <input id="date" type="Date" class="datepicker">
                        <label for="date">Date</label>
                    </div>
                </div>
                <button type="submit">Create your event!</button>
>>>>>>> e9d6093599cef9c4a54144cdfb5fb10a39a80ece
            </form>
        </div>
    </div>


<div id="all-events"></div>


<script type="text/template" id="userTemplate">   

    <div id="event">

        

    </div>

</script>


<script async defer type="text/javascript" src="./../javascripts/app.js"></script>  

<%- include('./../_partials/footer') %>