<%- include('./../_partials/header') %>

<h1>Events</h1>

<div id="all-events"></div>

<script type="text/template" id="userTemplate">   

    

</script>

<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script async defer type="text/javascript" src="./../javascripts/app.js"></script>  

<%- include('./../_partials/footer') %>