<%- include(./../partials/header)%>

<div id="container">
    Node.JS Email application
    <div>
        <h1>Mailer In Node.JS</h1>
        <input id="to" type="text" placeholder="Enter E-mail ID where you want to send" />
        <input id="subject" type="text" placeholder="Write Subject" />
        <textarea id="content" cols="40" rows="5" placeholder="Write what you want to send"></textarea>
        <button id="send_email">Send Email</button>
        <span id="message"></span>
    </div>
</div>






<%- include(./../partials/footer)%>