<%- include('./../_partials/header') %>

        <div class="blur-one">
            <div class="welcome">
                <h5>Send Your Invitations</h5>
                <hr>
            </div>
        </div>

        <div class="blur-two">
        
            <form action="/events/<%=event%>/mail/send" method="post" class="col s12"> 
                <div class="container">  
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <input type="text" name="to" />
                            <label>Send To</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <input type="text" name="cc" />
                            <label>CC</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <input type="text" name="subject" />
                            <label>Subject</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <input type="text" name="text" />
                            <label>Message</label>
                        </div>
                    </div>
            
                    <button class="btn" type="submit">Send Email</button>
            </div>

            
            <!-- <input type="text" name="cc" placeholder="Enter E-mail ID where you want to cc" /> -->

            <!-- <input type="text" placeholder="Write Subject" name="subject" /> -->
            <!-- <textarea cols="40" rows="5" placeholder="Write what you want to send" name="text"></textarea> -->
        </form>  
    </div>

<%- include('./../_partials/footer')%>