<%- include('./../_partials/header') %>


<div id="container">
    <div>
        <h1>Send Your Invitations</h1>
        
        <form action="/events/<%=event%>/mail/send" method="post">   
            <input type="text" name="to" placeholder="Enter E-mail ID where you want to send" />
            <input type="text" name="cc" placeholder="Enter E-mail ID where you want to cc" />

            <input type="text" placeholder="Write Subject" name="subject" />
            <textarea cols="40" rows="5" placeholder="Write what you want to send" name="text"></textarea>
            <button class="btn" type="submit">Send Email</button>
            <!--<span id="message"></span>-->
        </form>
        
    </div>
</div>





<!--<script>
$(document).ready(function() {
    let from,to,subject,text;
    $('#send_email').click(function() {
        to=$('#to').val();
        subject=$('#subject').val();
        text=$('#content').val();
        $('#message').text('Sending email..');
        $.get('http://localhost:3000/events/<%=event%>/mail/send',{to:to,subject:subject,text:text}, function(data) {
            if (data === 'sent') {
                $('#message').empty().html(`email has been sent to ${to}. Please check inbox`)
            };
        });
    });
})
</script>-->





<%- include('./../_partials/footer')%>